<div class="mb-3">
  <h1 class="mb-1">Add some photos of your house</h1>
  <h2 class="mt-0">You will need at least 5 photos to get started. You can add more later</h2>

  <div class="flex items-center justify-center mt-3">
    <input
      type="file"
      pInputText
      id="pictures"
      placeholder="Pictures"
      accept=".jpg, .jpeg, .png, .svg"
      [multiple]="'multiple'"
      (change)="onUploadNewPicture($event.target)"
    />
  </div>
</div>

@if(pictures()){
<div class="mt-4 grid-pictures w-full">
  @for(picture of pictures(); track picture.file.name){
  <div class="relative rounded-2xl overflow-hidden group col-span-12 lg:col-span-6 xl:col-span-6">
    <div class="aspect-[4/3] bg-cover bg-center" [style.background-image]="'url(' + picture.urlDisplay + ')'"></div>
    <button class="absolute trash-btn p-button" (click)="onTrashPicture(picture)">
      <fa-icon icon="trash-can"></fa-icon>
    </button>
  </div>
  }
</div>

}
